@-webkit-keyframes fade-out {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@keyframes fade-out {
  0% {
    width: 100%;
  }
  100% {
    width: 0;
  }
}


.playarea-cont {
  background: rgb(0, 0, 0);
  height: 100vh;
  position: relative;
  // display: flex;
  // justify-content: center;
  

  .header {
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 16px 0;
    color: white;
    font-family: "Pacifico";
    * {
      cursor: pointer;
    }
    a {
      color: white;
    }
  }

  .heading {
    font-size: 24px;
  }

  .search-bar-cont {
    margin-top: 10px;
  }

  .grid{
    height:23px;
    position:relative;
    bottom:4px;
  }
  .signbutton{
    background-color: #4885ed;
    color: #fff;
    border:none;
    border-radius:3px;
    padding:7px 10px;
    position:relative;
    bottom:7px;
    font-weight:bold;
  }
  .logo{
    margin-top:200px;
    margin-bottom:20px;
  }
  .bar{
    background: white;
    margin:0 auto;
    width:575px;
    border-radius:30px;
    border:1px solid #dcdcdc;
    display: flex;
    align-items: center;
    padding: 0 30px 0;
  }
  .bar:hover{
    box-shadow: 1px 1px 8px 1px #3f0e0e;
  }
  .bar:focus-within{
    box-shadow: 1px 1px 8px 1px #680f0f;
    outline:none;
  }
  .searchbar{
    height:45px;
    border:none;
    font-size:16px;
    outline: none;
    flex-grow: 1;
    font-weight: bold
  }
  .voice{
    height:20px;
    position:relative;
    top:5px;
    left:10px;
    display: none;
  }
  .buttons{
    margin-top:30px;
  }
  .button{
    background-color: #f5f5f5;
    border:none;
    color:#707070;
    font-size:15px;
    padding: 10px 20px;
    margin:5px;
    border-radius:4px;
    outline:none;
  }
  .button:hover{
    border: 1px solid #c8c8c8;
    padding: 9px 19px;
    color:#808080;
  }
  .button:focus{
    border:1px solid #4885ed;
    padding: 9px 19px;
  }
  
  .ans-item {
    display: flex;
    justify-content: space-between;
    width: 49%;
    padding: 10px;
    position: relative;
    height: 50px;
    border: 1px solid black;
    align-items: center;
    font-weight: bold;
    background: white;
  }

  .mask {
    top: 0;
    left: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #4285F4;
    &.fade-out {
      -webkit-animation: fade-out 1s ease-out both;
              animation: fade-out 1s ease-out both;
    }
  }

  .answers-cont {
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    margin: 50px auto 0 auto;
    flex-direction: column;
    justify-content: space-around;
    align-items: space-between;
    height: 160px;
  }

  .question {
    margin-top: 60px;
    color: white;
    font-weight: bold;
  }

  .toast {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .error-cont {
    display: flex;
    justify-content: center;
    align-items: center;
  }

}

.close{
  position: relative;
  display: inline-block;
  width: 50px;
  height: 50px;
  overflow: hidden;


  &::before, &::after {
    content: '';
    position: absolute;
    height: 2px;
    width: 100%;
    top: 50%;
    left: 0;
    margin-top: -1px;
    background: red;
  }
  &::before {
    transform: rotate(45deg);
  }
  &::after {
    transform: rotate(-45deg);
  }
  &.big {
    width: 200px;
    transform: scale(3);
  }
  &.hairline {
    &::before, &::after {
      height: 1px;
    }
  }
  &.thick {
    &::before, &::after {
      height: 4px;
      margin-top: -2px;
    }
  }
  &.black {
    &::before, &::after {
      height: 8px;
      margin-top: -4px;
    }
  }
  &.heavy {
    &::before, &::after {
      height: 12px;
      margin-top: -6px;
    }
  }
  &.pointy {
    &::Before, &::after {
      width: 200%;
      left: -50%;
    }
  }
  &.rounded {
    &::before, &::after {
      border-radius: 5px;
    }
  }
  &.blades {
    &::before, &::after {
      border-radius: 5px 0;
    }
  }
  &.warp {
    &::before, &::after {
      border-radius: 120% 0;
    }
  }
  &.fat {
    &::before, &::after {
      border-radius: 100%;
    }
  }
}
